@color_1: #000000;
@background_color_1: #f16013;
@background_color_2: #39c5db;
@background_color_3: #000000;
@border_color_1: #ffffff;


@media screen and (min-aspect-ratio: 17500/10000) {
	.card {
		width: 70vh;
		height: 70vh;
		padding: 15vh 0;
	}
	.sideBar {
		width: 15vh;
		height: 100vh;
		.arrowContainer {
			padding: 42.5vh 0;
			height: 15vh;
			width: 15vh;
			.arrow {
				padding: 5.3vh;
			}
		}
	}
	.name {
		p {
			font-size: 8vh;
		}
	}
	.handle {
		p {
			font-size: 10vh;
		}
	}
	.cardViewPlaceHolder {
		width: 100vh;
		height: 100vh;
		display: inline-block;
	}
	#cardSelector {
		width: ~"calc(100vw - 100vh)";
		vertical-align: top;
		margin-left: -4px
	}
	#cardView {
		vertical-align: top;
	}
	.selector {
	    margin: ~"calc(0.04 * (100vw - 100vh))";
		border: ~"calc(0.02 * (100vw - 100vh))";
		height: ~"calc(0.38 * (100vw - 100vh))";
		width: ~"calc(0.38 * (100vw - 100vh))";
	}
}


@media screen and (max-aspect-ratio: 17500/10000) {
	.card {
		width: 70vw;
		height: 70vw;
		padding: 15vw 0;
	}
	.sideBar {
		width: 15vw;
		height: 100vw;
		.arrowContainer {
			padding: 42.5vw 0;
			height: 15vw;
			width: 15vw;
			.arrow {
				padding: 5.3vw;
			}
		}
	}
	.name {
		p {
			font-size: 8vw;
		}
	}
	.handle {
		p {
			font-size: 10vw;
		}
	}
	.cardViewPlaceHolder {
		width: 100vw;
		height: 100vw;
	}
	#cardSelector {
		width: 100vw;
	}
	.selector {
		margin: 4vw;
		border: 2vw;
		height: 38vw;
		width: 38vw;
	}
}

html {
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 100%;
}
body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 100%;
}
p {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
a {
	text-decoration: none;
	color: @color_1;
}
#cardView {
	display: inline-block;
	background-color: @background_color_2;
}
#cardView {
	position: fixed;
	top: 0;
}
#cardSelector{
	display: inline-block;
	background-color: @background_color_1;
	overflow-y: auto;
}
.card {
	background-color: @background_color_2;
	display: none;
}
.sideBar {
    float: left;
	background-color: @background_color_2;
	.arrowContainer {
		.arrow {
			border: solid @border_color_1;
			border-width: 0 3px 3px 0;
			display: inline-block;
		}
	}
}

#left.sideBar .arrowContainer .arrow {
	transform: rotate(-45deg) translateX(7.5vw);
	-moz-transform: rotate(-45deg) translateX(7.5vw);
	-ms-transform: rotate(-45deg) translateX(7.5vw);
	-o-transform: rotate(-45deg) translateX(7.5vw);
	-webkit-transform: rotate(-45deg) translateX(7.5vw);
}

.selectedCard {
	display: block;
	float: left;
}
.right {
	float: left;
	transform: rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}

.left {
	float: right;
	transform: rotate(135deg);
	-moz-transform:rotate(135deg);
	-ms-transform:rotate(135deg);
	-o-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
}

.image {
	width: 100%;
	height: 56%;
	padding: 0% 0% 8% 0%;
	img {
		height: 100%;
		display: block;
		margin: auto;
	}
}
.name {
	width: 100%;
	height: 10%;
	p {
		display: block;
		text-align: center;
	}
}
.handle {
	width: 100%;
	height: 18%;
	p {
		display: block;
		text-align: center;
	}
}
.selector {
	border-style: solid;
	border-color: @border_color_1;
	float: left;
}
.selectorIcon {
	height: 100%;
	width: 100%;
	background-color: @background_color_3;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}