@media screen and (min-aspect-ratio: 17500/10000) {
  .card {
    width: 70vh !important;
    height: 70vh !important;
    padding: 15vh 0 !important;
  }
  .sideBar {
    width: 15vh !important;
    height: 100vh !important;
  }
  .sideBar .arrowContainer {
    padding: 42.5vh 0 !important;
    height: 15vh !important;
    width: 15vh !important;
  }
  .sideBar .arrowContainer .arrow {
    width: 10.6vh !important;
    height: 10.6vh !important;
  }
  .name p {
    font-size: 8vh !important;
  }
  .handle p {
    font-size: 10vh !important;
  }
  #cardSelector {
    height: 100vh !important;
    vertical-align: top;
    margin-left: -4px;
  }
  #cardView {
    vertical-align: top;
  }
  .selector {
    margin: 4vh;
    border: 2vh;
    height: 38vh;
    width: 38vh;
  }
}
@media screen and (max-aspect-ratio: 17500/10000) {
  .selector {
    margin: 4vw;
    border: 2vw;
    height: 38vw;
    width: 38vw;
  }
}
html {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
  height: 100%;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
  height: 100%;
}
p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
a {
  text-decoration: none;
  color: #000000;
}
#cardView {
  display: inline-block;
  background-color: #39c5db;
}
#cardSelector {
  display: inline-block;
}
#cardSelector {
  width: 100vw;
  background-color: #f16013;
  overflow-y: auto;
}
.card {
  width: 70vw;
  height: 70vw;
  padding: 15vw 0;
  background-color: #39c5db;
  display: none;
}
.sideBar {
  width: 15vw;
  height: 100vw;
  float: left;
  background-color: #39c5db;
}
.sideBar .arrowContainer {
  padding: 42.5vw 0;
  height: 15vw;
  width: 15vw;
}
.sideBar .arrowContainer .arrow {
  width: 10.6vw;
  height: 10.6vw;
  background-color: #ffffff;
}
#left.sideBar .arrowContainer .arrow {
  transform: rotate(-45deg) translateX(7.5vw);
  -moz-transform: rotate(-45deg) translateX(7.5vw);
  -ms-transform: rotate(-45deg) translateX(7.5vw);
  -o-transform: rotate(-45deg) translateX(7.5vw);
  -webkit-transform: rotate(-45deg) translateX(7.5vw);
}
.selectedCard {
  display: block !important;
  float: left;
}
.image {
  width: 100%;
  height: 56%;
  padding: 0% 0% 8% 0%;
}
.image img {
  height: 100%;
  display: block;
  margin: auto;
}
.name {
  width: 100%;
  height: 10%;
}
.name p {
  font-size: 8vw;
  display: block;
  text-align: center;
}
.handle {
  width: 100%;
  height: 18%;
}
.handle p {
  font-size: 10vw;
  display: block;
  text-align: center;
}
.selector {
  border-style: solid;
  border-color: #ffffff;
  float: left;
}
.selectorIcon {
  height: 100%;
  width: 100%;
  background-color: #000000;
}
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
