@media screen and (min-aspect-ratio: 17500/10000) {
  .card {
    width: 70vh;
    height: 70vh;
    padding: 15vh 0;
  }
  .sideBar {
    width: 15vh;
    height: 100vh;
  }
  .sideBar .arrowContainer {
    padding: 42.5vh 0;
    height: 15vh;
    width: 15vh;
  }
  .sideBar .arrowContainer .arrow {
    padding: 5.3vh;
  }
  .name p {
    font-size: 8vh;
  }
  .handle p {
    font-size: 8vh;
  }
  #cardSelector {
    width: calc(100vw - 100vh);
    margin-left: 100vh;
    vertical-align: top;
  }
  #cardView {
    vertical-align: top;
  }
  .selector {
    margin: calc(0.04 * (100vw - 100vh));
    border: calc(0.02 * (100vw - 100vh));
    height: calc(0.38 * (100vw - 100vh));
    width: calc(0.38 * (100vw - 100vh));
  }
}
@media screen and (min-aspect-ratio: 10000/17501) and (max-aspect-ratio: 17499/10000) {
  .card {
    width: 35vh;
    height: 35vh;
    padding: 7.5vh 0;
  }
  .sideBar {
    width: 7.5vh;
    height: 50vh;
  }
  .sideBar .arrowContainer {
    padding: 21.25vh 0;
    height: 7.5vh;
    width: 7.5vh;
  }
  .sideBar .arrowContainer .arrow {
    padding: 2.65vh;
  }
  .name p {
    font-size: 4vh;
  }
  .handle p {
    font-size: 4vh;
  }
  #cardSelector {
    width: 50vh;
    margin-top: 50vh;
    padding: 0 calc(50vw - 25vh);
  }
  #cardView {
    padding: 0 calc(50vw - 25vh);
  }
  .selector {
    margin: 2vh;
    border: 1vh;
    height: 19vh;
    width: 19vh;
  }
  @-moz-document url-prefix() {
    body {
      overflow: hidden;
    }
    #scrollableBody {
      overflow: auto;
      height: 100vh;
    }
  }
}
@media screen and (max-aspect-ratio: 10000/17500) {
  .card {
    width: 70vw;
    height: 70vw;
    padding: 15vw 0;
  }
  .sideBar {
    width: 15vw;
    height: 100vw;
  }
  .sideBar .arrowContainer {
    padding: 42.5vw 0;
    height: 15vw;
    width: 15vw;
  }
  .sideBar .arrowContainer .arrow {
    padding: 5.3vw;
  }
  .name p {
    font-size: 8vw;
  }
  .handle p {
    font-size: 8vw;
  }
  #cardSelector {
    width: 100vw;
    margin-top: 100vw;
  }
  .selector {
    margin: 4vw;
    border: 2vw;
    height: 38vw;
    width: 38vw;
  }
  @-moz-document url-prefix() {
    body {
      overflow: hidden;
    }
    #scrollableBody {
      overflow: auto;
      height: 100vh;
    }
  }
}
html {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
  background-color: #39c5db;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%;
}
p {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
a {
  text-decoration: none;
  color: #000000;
}
#cardView {
  display: inline-block;
  background-color: #39c5db;
}
#cardView {
  position: fixed;
  top: 0;
}
#cardSelector {
  display: inline-block;
  background-color: #f16013;
  overflow-y: auto;
}
.card {
  background-color: #39c5db;
  display: none;
}
.sideBar {
  float: left;
  background-color: #39c5db;
}
.sideBar .arrowContainer .arrow {
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  display: inline-block;
}
#left.sideBar .arrowContainer .arrow {
  transform: rotate(-45deg) translateX(7.5vw);
  -moz-transform: rotate(-45deg) translateX(7.5vw);
  -ms-transform: rotate(-45deg) translateX(7.5vw);
  -o-transform: rotate(-45deg) translateX(7.5vw);
  -webkit-transform: rotate(-45deg) translateX(7.5vw);
}
.selectedCard {
  display: block;
  float: left;
}
.right {
  float: left;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  float: right;
  transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.image {
  width: 100%;
  height: 56%;
  padding: 0% 0% 8% 0%;
}
.image img {
  height: 100%;
  display: block;
  margin: auto;
}
.name {
  width: 100%;
  height: 10%;
}
.name p {
  display: block;
  text-align: center;
}
.handle {
  width: 100%;
  height: 18%;
}
.handle p {
  display: block;
  text-align: center;
}
.selector {
  border-style: solid;
  border-color: #ffffff;
  float: left;
}
.selectorIcon {
  height: 100%;
  width: 100%;
  background-color: #000000;
}
::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
